.pro__review {
  max-width: 1470px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vmax;
}

.custom-swiper-wrapper {
  display: flex;
}

.custom-swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro__review-content {
  margin-left: 12vmax;
  margin-right: 12vmax;
  display: flex;
  flex-direction: column;
  gap: 1vmax;
  align-items: center;
}
.pro__review-content_text h3{
  text-align: center;
  font-size: 28px;
  line-height: 38px;
  color: #171717;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.pro__review-content_rate img {
  width: 22px;
  height: 22px;
}
.pro__review-content_sub {
  margin-top: 1vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #171717;
}
.pro__review-content_sub p:first-child {
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.pro__review-content_sub p:last-child {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

@media screen and (max-width: 768px) {
  .pro__review {
    padding-right: 15px;
    padding-left: 15px;
    gap: 1vmax;
  }
  .pro__review-icon img {
    width: 40px;
    height: 40px;
  }
  .pro__review-content {
    margin-left: 0;
    margin-right: 0;
    gap: 0.5vmax;
  }
  .pro__review-content_text h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .pro__review-content_sub p:first-child {
    font-size: 14px;
  }
  .pro__review-content_sub p:last-child {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
  }
}